<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leocardz.link.preview.library">

    <uses-permission android:name="android.permission.INTERNET" />
    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START"/>
        </intent>
    </queries>
</manifest>
